/* ---- Онулення ---- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Rubik;
    font-style: 12px;
    color: #616161;
}


/* ----------------- */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* ----------------- */

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1057px;
    margin: 0px auto;
    padding: 0 15px;
}


/* -------Адаптивність----------- */

@media (max-width: 1057px) {}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0 40px 0 0;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    ;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #000000;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #FCFDFE;
    padding: 13px 30px;
    background: #EC5863;
    border-radius: 5px;
    transition: background-color 0.3s ease 0s;
}

button:hover {
    background: #ec969c;
}

.button-blue {
    background: #4285F4;
}

.button-blue:hover {
    background: #7daaf2;
}

.main {}

.footer {}